<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find urdf3)/urdf/urdf3.urdf" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find urdf3)/urdf.rviz" />
</launch>
